<table class="table is-bordered is-striped is-fullwidth is-hoverable">
    <thead>
        <tr>
            <th colspan="3">
                <button class="button is-fullwidth is-success" onclick="showCall(calls.newCall()); refreshCallList()">Neuer Einsatz</button>
            </th>
        </tr>
        <tr class="is-primary">
            <th>Zeit</th>
            <th>Einsatzart</th>
            <th>Einsatzort</th>
        </tr>
    </thead>
    <tbody id="callListContainer">
        <tr>
            <td>00:00</td>
            <td>B3</td>
            <td>Bahnhof</td>
        </tr>
        <tr>
            <td>00:00</td>
            <td>B3</td>
            <td>Bahnhof</td>
        </tr>
        <tr>
            <td>00:00</td>
            <td>B3</td>
            <td>Bahnhof</td>
        </tr>
        <tr class="is-info">
            <td>00:00</td>
            <td>B3</td>
            <td>Bahnhof</td>
        </tr>
        <tr>
            <td>00:00</td>
            <td>B3</td>
            <td>Bahnhof</td>
        </tr>
    </tbody>
</table>